body
    {
        background-color: #303030;
    }
.background-style
    {
        padding: 30% 10% 10% 10%;
        text-align: center;
        background-image: url("../img/logo.png");
        background-position: center center;
        background-repeat: no-repeat;
        object-fit: cover;
    }